.navbar-hover:hover {
    background-color: #dc3545;
}

a.navbar-hover:hover {
    color: #fff;
}

.form-dang-nhap:focus {
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.7);
}

#exampleCheck1:checked[type="checkbox"] {
    background-color: #dc3545;
}

.navbar-brand {
    margin-left: 25px !important;
}

.icon-item-notification {
    color: #a4152d !important;
    background-color: #fff !important;
}

.icon-item-notification:hover {
    color: #fff !important;
    background-color: #a4152d !important;
}

/* #about:hover,
#contact:hover {
    color: #fff;
    background-color: #dc3545;
} */

/* .link-navbar-hover:hover {
    color: #fff;
    background-color: #dc3545;
} */